.*
*~
\#*
*/*~
*/\#*
web/BuildInfo.txt
web/Install
web/Makefile
web/bin/
web/do-plugins.escript
web/erts-6.4/
web/etc/
web/lib/
web/man/
web/misc/
web/plugins.config
web/rebar
web/rebar.config
web/releases/